<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <title>Error</title>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-zinc-900">
      <h1 class="text-4xl tracking-tighter font-medium text-red-500 p-10">
        Error: <%= error %>
      </h1>
    </div>
  </body>
</html>
